.post {
    max-width: 600px;
    width: 100%;
    height: auto;
    border: 1px solid red;
    margin: auto;
    overflow: hidden;
    background: white;
}

.titulo {
    flex-grow: 1;
    margin: 5px;
}

.titulo p{
    margin: 0;
}

.post-header {
    width: 100%;
    display: flex;
    margin: 5px;
    padding: 5px;
    align-items: center;

}

.logo, .menu{
    font-size: 30px;
}

.post-body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid black;
}

.post-body img{
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
}

.post-icons{
    display: flex;
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 40px;

}

.post-icons .grupo1{
    flex-grow: 1;
}

.post-footer{
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.likes, .caption{
    margin: 10px 5px;
}

#fondo-pagina{
    background: black;
}